@font-face {
  font-family:"Lemon/Milk";
  src:url("../fonts/LemonMilk.eot?") format("eot"),
    url("../fonts/LemonMilk.woff") format("woff"),
    url("../fonts/LemonMilk.ttf") format("truetype"),
    url("../fonts/LemonMilk.svg#LemonMilk") format("svg");
  font-weight:normal;
  font-style:normal;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .navbar-nav > li ul {
    position: relative !important;
  }
}
area a:hover {
  background-color: #000;
}
.navbar {
  background-color: #801424;
  background-image: none;
  border: none;
  border-radius: 0;
  border-bottom: #0b0000 solid medium;
}
.navbar-default .navbar-nav li a {
  color: #fff;
  font-weight: bold;
  text-shadow: none;
  display: inline-block;
}
.navbar-nav ul {
  padding: 0;
  list-style: none;
}
.navbar-nav li {
  position: relative;
}
.navbar-nav > li ul {
  display: none;
  background-color: #801424;
  background-image: none;
  border: none;
  border-radius: 0;
  border-bottom: #0b0000 solid medium;
  text-align: left;
}
.navbar-nav > li ul > li {
  min-width: 200px;
}
.navbar-nav > li ul a {
  padding: 5px 10px;
  width: 100%;
}
.navbar-nav > li > ul > li > ul {
  min-width: 200px;
  left: 100%;
  top: 0px;
  display: none;
  position: absolute;;
}
.navbar-nav > li:hover > ul {
  display: block;
  position: absolute;
}
.navbar-nav > li:hover > ul > li {
  position: relative;
}
.navbar-nav > li > ul > li:hover > ul {
  display: block;
}
.navbar {
  z-index: 999;
}
.navbar-default .navbar-nav  .active  a,
.navbar-default .navbar-nav  .open  a
.navbar-default .navbar-nav  .active  a:focus,
.navbar-default .navbar-nav  .active  a:hover,
.navbar-default .navbar-nav  li  a:focus,
.navbar-default .navbar-nav  li  a:hover,
.navbar-default .navbar-nav  .active:focus,
.navbar-default .navbar-nav  .active:hover,
.navbar-default .navbar-nav  li:focus,
.navbar-default .navbar-nav  li:hover {
  background-color: #6f0c1b;
  color: #fff;
  background-image: none;
}
.img-tile img {
  float: left;
}
.section-title {
  background-color: #801424;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #801424;
}
h1,
h2,
h3 {
  margin-bottom: 30px;
}
a:active,
a:focus,
a:hover {
  color: #6f0c1b;
  text-decoration: none;
}
.no-margin {
  margin: 0;
}
.banner {
  margin-bottom: 10px;
}
.banner > img {
  width: 100%;
}
p {
  font-size: 18px;
}
.img-profile {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  width: 100%;
}
footer {
  background-color: #801424;
  color: #fff;
  padding: 30px 0;
}
#img-top,
#img-bottom {
  width: 100%;
}
footer ul li a,
footer h4 {
  color: #fff;
}
footer ul {
  padding: 0;
  list-style:  none;
}
footer ul li a:hover {
  color: #fdd0d0;
}
footer ul li {
  margin-bottom: 5px;
}
.organisation img {
  padding: 10px;
}
.organisation div {
  background: #fff;
}
footer h4::after {
  content: ' ';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
}
footer .social-network {
  text-align: center;
}
footer .social-network h4 {
  text-align: left;
}
footer .social-network a {
  color: #fff;
  font-size: 4em !important;
}
.navbar-default .social-network {
  background-color: #6f0c1b;
  font-size: 1.5em;
}
.navbar-default .social-network a + a {
  border-left: #801424 solid thin;
}
hr {
 border-top: 1px solid #f3eeef;
}
footer hr {
  border-top: 1px solid #6f0c1b;
}
@media (min-width: 768px) and (max-width:1120px) {
  .navbar-nav>li>a {
    padding: 15px 7px;
  }
}
@media (max-width: 768px) and (max-width:1120px) {
  .navbar-nav>li:not(.social-network) >a {
    width: 100%;
  }
}
.logo {
  margin-bottom: 20px;
}
.img-tile-mobile img {
  width: 100%;
}
.img-top-tile {
  background-image: url('../images/top.jpg');
  width: 100%;
  background-size: contain;
  position: relative;
}
.img-bottom-tile {
  background-image: url('../images/bottom.jpg');
  width: 100%;
  background-size: contain;
  position: relative;
}
.img-map {
  position: absolute;
}
.img-map > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.img-map > div::before,
.img-map > div::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.img-map > div::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  z-index: 0;
}
.img-map > div::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  z-index: 1;
}
.img-map:hover > div::before,
.img-map:hover > div::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.img-map a {
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  z-index: 9998;
}
.img-map h2 {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}
.img-map:hover h2,
.img-map:hover a {
  opacity: 1;
  height: auto;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.img-map:hover > div {
  background-color: rgba(128, 20, 36, 0.7);
}
.img-map a {
  clear: both;
  display: block;
  color: #fff;
}
.img-map a:hover {
  color: #e9eaea;
}
.bg-primary {
  background-color: #801424;
  color: #fff;
}
.section {
  padding: 70px 0px;
}
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6,
.bg-primary p,
.bg-primary a {
  color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
  border-bottom: #801424 solid thin;
}
.headerfix {
  padding-top: 140px;
}
.cost-on-clear-img {
  margin-bottom: -70px;
}
h1::after,
h2::after,
h3::after {
  content: ' ';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #801424;
}
.bg-primary h1::after,
.bg-primary h2::after,
.bg-primary h3::after {
  content: ' ';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
}
.img-map h2::after {
  display: none;
}
.img-map h1::after {
  display: none;
}
.img-map h2 {
  color: #fff;
  margin-bottom: 5px;
}
.img-map h1 {
  position: absolute;
  bottom: 0;
  display: block;
  font-family: "Lemon/Milk";
}
.img-map h1:not(.primary) {
  color: #fff;
  position: absolute;
  bottom: 0;
  display: block;
  font-family: "Lemon/Milk";
}
.img-map:hover h1 {
  display: none;
}
.mobile-tile {
  position: relative;
}
.mobile-tile h3 {
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}
.mobile-tile h3::after {
  display: none;
}
.office {
  padding: 25px;
}
.form-control,
.btn {
  border-radius: 0;
}
.btn-primary {
  background: #fff;
  border: #e9eaea;
  color: #801424;
}
.btn-primary.active {
  background: #e9eaea;
  border: #e9eaea;
  color: #801424;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background: #e9eaea;
  border: #e9eaea;
  color: #801424;
}
img {
  margin: auto;
}
.office img {
  display: block;
  margin: auto;
}
iframe {
  width: 100%;
}

#fixedfees .carousel {
  width: 100%;
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.item {
  height: 100%;
  font-size: 14px;
}

.carousel-control.left,
.carousel-control.right {
  background: none !important;
  background-image: none !important;
}
.carousel-caption {
  padding: 0;
  position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 100%;
}
.star {
  color: gold;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  width: 10px;
  height: 10px;
  font-size: 10px;
}
#fixedfees h3 {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
}
.pro-name {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px;
}
.banner-img img {
  width: 10%;
  float: left;
}
.banner-img img:hover {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
.contact-page > div:first-of-type {
  display: none;
}
.section h1 {
  margin-top: -40px;
}
